h1 {
  color: #ffea00;
}
.content {
  color: white;
}
img :not(#music-logo) {
  height: 200px;
  width: 200px;
}

div.AlbumReviews {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

div.album-info-container {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 35%;
  margin-top: 20px;
}

div.album-info-container > * {
  margin-top: 0;
  margin-bottom: 5px;
}

div.album-info-container > h1,
div.album-info-container > h2,
div.album-info-container > h3 {
  max-width: 100%;
}

div.album-reviews-container {
  width: 40%;
  margin-left: 30%;
}

div.reviews-container {
  display: flex;
  flex-direction: column;
}

div.reviewer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.review-content {
  background-color: #180c6a;
  min-height: 200px;
}
