a {
  color: white;
}
.feed-album-image {
  max-height: 200px;
}

.grid-layout {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 200px;
  grid-template-columns: 1fr 2fr;
}

.rating-user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score {
  color: #ffea00;
  font-size: 36px;
  font-weight: bold;
}
.album-container {
  display: flex;
  flex-direction: column;
  grid-row-end: 2;
}

.album-title {
  font-size: 24px;
}

.artist-name {
  font-size: 20px;
  text-align: center;
}

.title-info-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
}

.title-info-container > a {
  text-decoration: none;
  justify-self: end;
  align-self: end;
}

.title-info-container > a > h3 {
  margin: 0;
  text-align: right;
}

.title-info-container:first-child {
  margin-top: 60px;
}

.album-image-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
}

.review-text-container {
  display: inline-grid;
  background-color: #180c6a;
  height: 200px;
  justify-items: center;
  margin-left: 30px;
}

.review-header-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 20px;
}

.username {
  margin-top: 60px;
}

.review-content {
  overflow: hidden;
  max-width: 300px;
  text-overflow: elipsis;
  text-align: center;
  justify-items: center;
}

p.score {
  text-shadow: 0px 0px 5px #ffea00;
}
