a {
  color: white;
}
#feed-album-image {
  max-height: 200px;
}

.grid-layout {
  display: grid;
  grid-template-rows: 1fr 200px;
  grid-template-columns: 1fr 2fr;
  padding-right: 120px;
}

.rating-user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score {
  color: #ffea00;
  font-size: 36px;
  font-weight: bold;
}
.album-container {
  display: flex;
  flex-direction: column;
  grid-row-end: 2;
}

#album-title {
  font-size: 24px;
}

#artist-name {
  font-size: 14px;
}

.title-info-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 1;
  padding: 0;
}

.album-image-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.review-text-container {
  background-color: #180c6a;
  height: 200px;
  justify-items: center;
}

.review-header-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.review-content {
  overflow: hidden;
  max-width: 300px;
  text-overflow: elipsis;
  text-align: center;
  justify-items: center;
}
