.search-images {
  height: 200px;
  text-align: center;
}

div.search-media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

div.search-media-card > a {
  text-decoration: none;
}

div.search-card > * {
  margin: 0;
  align-self: end;
  text-align: left;
  max-width: 200px;
}

div.search-card:first-child {
  margin-top: 70px;
}
